@import "../omarchy/current/theme/waybar.css";

* {
  background-color: @background;
  color: @foreground;

  border: none;
  border-radius: 0;
  min-height: 0;
  font-family: 'Liberation Mono';
  font-size: 11px;
}

.modules-left {
  margin-left: -5px;
}

.modules-right {
  margin-right: -2px;
}

#workspaces button {
  all: initial;
  padding: 0 6px;
  padding-left: 10px;
  margin: 3 3.5px;
  min-width: 9px;
}

#workspaces button.empty {
  opacity: 0.5;
}

#custom-weather,
#memory,
#custom-update,
#backlight,
#window,
#mpris,
#tray,
#cpu,
#battery,
#network,
#pulseaudio,
#clock,
#workspaces,
#bluetooth,
#tray-expander { 
  min-width: 0px;
  margin: 4.5 0px;
}

#custom-expand-icon {
  margin-right: -5px;
  padding-left: 2px;
}

#network {
  margin-right: 2px;
}
#memory {
  margin-left: 0px;
}
#tray {
  margin-right: 0px;
  padding-left: 3px;
}
#pulseaudio{
  margin-left: -2px;
}
#battery {
  margin-bottom: 10px;
}
#backlight {
  margin-right: 3px;
}
#custom-omarchy {
    padding-left: 6px;
}
#bluetooth{
    padding-left: 2px;
}
#clock {
  font-size: 14px;
}
#custom-omarchy {
  margin-top: 10px;
}
tooltip {
  padding: 0px;
}

#custom-screenrecording-indicator {
  min-width: 12px;
  margin-left: 5px;
  font-size: 10px;
  padding-bottom: 1px;
}

#custom-screenrecording-indicator.active {
  color: #a55555;
}

#custom-voxtype {
  min-width: 12px;
  margin: 0 0 0 7.5px;
}

#custom-voxtype.recording {
  color: #a55555;
}
